@use "../../vars.scss";

.app {

    &-wrapper {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
        min-height: 100vh;
        font-size: 1.5em;

    }

    &-title {
        font-size: 2rem;
        color: vars.$color-secondary;
    }

}