/** ---- Colors ---- **/
$color-primary: #041522;
$color-secondary: #efefef;
$color-faded: #cecece;

$color-bg-primary: rgba(235,158,37,1);
$color-bg-secondary: rgba(165,44,159,1);

/** ---- Border ---- **/
$border-radius-200 : .2rem;
$border-radius-300 : .3rem;
$border-radius-400 : .4rem;
$border-radius-500 : .5rem;
$border-radius-600 : .6rem;
$border-radius-700 : .7rem;
$border-radius-800 : .8rem;

/** ---- Spacing ---- **/
$gutter: 2rem;
$spacing-200 : .2rem;
$spacing-300 : .3rem;
$spacing-400 : .4rem;
$spacing-500 : .5rem;
$spacing-600 : .6rem;
$spacing-700 : .7rem;
$spacing-800 : .8rem;